<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatb Rooms</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Custom css for chat html -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/chat_style.css') }}">

</head>
<body>
    <!-- Navigation bar at top -->
    <nav class="navbar navbar-expand-sm navbar-light fixed-top" style="background-color: #66a1ee">
        <a id="logout-btn" class="nav-link" href="{{ url_for('logout') }}"><span style="color: #335177">Logout</span></a>
    </nav>

    <div id="main-section">
        <!-- Rooms sidebar -->
        <nav id="sidebar">
            <h4>ROOMS</h4>
            {% for room in rooms %}
                <p class="select-room">{{ room|title }}</p>
            {% endfor %}
        </nav>

        <!-- Message Area -->
        <div id="rightside-panel">
            <!-- Display message area -->
            <div id="display-message-section">

            </div>

            <!-- Input area -->
            <div id="input-area">
                <input type="text" id="user_message" class="form-control" placeholder="Type here..." autocomplete="off">
                <button type="button" id="send_message">SEND</button>
            </div>
        </div>

    </div>
    
    <!-- Get username -->
    <script type="text/javascript">
        const username = `{{ username }}`;
    </script>

    <!-- SocketIO JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I="
    crossorigin="anonymous"></script>

    <!-- Custom SocketIO JS -->
    <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>
</body>
</html>