{% from 'form_helper.html' import displayField %}

{% extends "prelogin-layout.html" %}

{% block title %}Registration{% endblock %}

{% block content %}
    <h2>Get Started</h2>
    <p>An online chat room application. Join different rooms. Meet new people.</p>
    <form action="{{ url_for('index') }}", method="POST">

        {{ displayField(form.username, 'Username', autocomplete="off", autofocus=true) }}
        {{ displayField(form.password, 'Password') }}
        {{ displayField(form.confirm_pswd, 'Re-enter Password') }}

        {{ form.submit_button }}

        {{ form.csrf_token }}

    </form>
    <br>
    <p>Already registered? <a href={{url_for('login')}}>Login here</a>.</p>


{% endblock %}