<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {% endblock %} - chatb</title>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Custom css for pre login pages -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main_style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@900&display=swap" rel="stylesheet">


</head>
<body>
    <div class="main-section">
        <div class="jumbotron">
            <h1 class="display-4">chatb</h1>
        </div>

        <div id="image-section">
            <picture>
                <img src="{{ url_for('static', filename='images/chat-img.png') }}">
            </picture>
        </div>

        <div id="righthand-side">
            <!-- Flashing messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            <!-- the function will return list of tuple of message in this manner : ('category', 'message') -->
            <!-- since other pages are going to inherit this base temnplate first check if the list is not empty -->
                {% if messages %}

                    <div class="alert alert-{{messages[0][0]}}" role="alert">
                        {{messages[0][1]}}
                    </div>
                    <hr>

                {% endif %}
            {% endwith %}
            <!-- Error messages end -->

            {% block content %}
            {% endblock %}

        </div>
    </div>
</body>
</html>